numpy==1.18.1
pretrainedmodels==0.7.4
requests==2.23.0
torch==1.4.0
opencv_python==4.2.0.34
torchvision==0.5.0
Flask_Cors==3.0.8
tqdm==4.25.0
pandas==1.0.3
Flask==1.1.2
pytorch_pretrained_bert==0.6.2
dlib==19.19.0
app==0.0.1
beautifulsoup4==4.9.0
Pillow==7.1.1
PyTube3==9.6.4
scikit_learn==0.22.2.post1
torchsummary==1.5.1